<html>
<head>

</head>
<body>
    <h1 class="text-center">Votre article a bien été ajouté </h1>
    <br>
    <h4>Nom de l'article : {{ title }}</h4>
    <h4>Categorie : {{ category }}</h4>
</body>
</html>


